{% extends 'base.html.twig' %}

{% block title %}Valider ma commande!{% endblock %}

{% block content %}
    <br/>
<h2> Je passe ma commande</h2>
    <p> Choisissiez vos préférences avant de passer votr commande sur Unique Meuble</p>
    <hr>
    <div class="row">
        <div class="col-md-6">


            {% set formHtml  %}
                {{ form_start(form,{action:path('order_recap')})}}
                 {{ form_label(form.adresses,'Choissisez votre adresse de livraison') }}
                <a href="{{ path('account_add_address') }}"> Ajouter une nouvelle adresse </a>
                {{ form_end(form) }}
            {% endset %}
            {{ formHtml|replace({'[br]':'<br/>'})|raw }}
        </div>
        <div class="col-md-6">
            <div class="text-center">
                <b>Récap de ma commande</b>
                <p>Retrouvez le récapitulatif de vos produits.</p>
            </div>
            <div class="order-sumary">
                  {% for key,p in cart%}
                      <div class="row {% if key>0 %}mt-2 {% endif %}">
                          <div class="col-3">
                              <img src="/uploads/{{ p.product.illustration }}" alt="{{ p.product.name }}" height="75px">
                          </div>
                          <div class="col-5 my-auto">
                              {{ p.product.name }}
                          </div>
                          <div class="col-2 my-auto">
                              x{{ p.quantity  }}
                          </div>
                      </div>
                  {% endfor%}

              </div>


        </div>
    </div>
{% endblock %}
